<div></div>

<main>
    <H1> Pruebas de Front-End </H1>


    <!----------------------P R U E B A 1 F U N D A M E N T O S --------------------->
    <article style="margin: 5rem;">
        <section class="container" style="
        border-color: black;
        border-style: groove;
        background-color: lightblue;
      ">
            <h2 style="font-style: italic; font-weight: 700">Prueba-Front</h2>

            <div>
                <div class="col-sm-3">
                    <div class="card" style="width: 18rem; margin: 1rem 0rem">
                        <div class="card-body">
                            <h2> f </h2>
                            <form>
                                <div class="input-group">
                                    <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                                    <input id="f" [(ngModel)]="f" type="text" class="form-control operator1" name="f" placeholder="0.0" />
                                </div>

                                <h2> x0 </h2>

                                <div class="input-group">
                                    <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                                    <input id="x0" [(ngModel)]="x0" type="number" class="form-control operator1" name="x0" placeholder="0.0" />
                                </div>

                                <h2> x1 </h2>

                                <div class="input-group">
                                    <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                                    <input id="x1" [(ngModel)]="x1" type="number" class="form-control operator1" name="x1" placeholder="0.0" />
                                </div>

                                <h2> num_seg </h2>

                                <div class="input-group">
                                    <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                                    <input id="num_seg" [(ngModel)]="num_seg" type="number" class="form-control operator1" name="num_seg" placeholder="0.0" />
                                </div>

                                <h2> dof </h2>

                                <div class="input-group">
                                    <span class="input-group-addon">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </span>
                                    <input id="dof" [(ngModel)]="dof" type="number" class="form-control operator1" name="dof" placeholder="0.0" />
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card" style="width: 20rem; margin: -25rem 25rem">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <button type="button" class="btn btn-primary compute-button" style="
                  width: 10rem;
                  height: 3rem;
                  padding: 12;
                  margin: 0rem 0rem;
                ">
                <li class="list-group-item" (click)="Simpson()" style="
                    height: 3rem;
                    margin: 0rem 1rem;
                    background: none;
                    border-style: none;
                  ">
                  <p style="margin: 0; font-size: 20px; font-weight: 700">
                    Simpson
                  </p>
                </li>
              </button>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card" style="width: 20rem; margin: 30rem 25rem">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <button type="button" class="btn btn-primary compute-button" style="
                  width: 15rem;
                  height: 3rem;
                  padding: 5;
                  margin: 0rem 0rem;
                ">
                <li class="list-group-item" (click)="FuncionT()" style="
                    height: 6rem;
                    margin: 0rem 1rem;
                    background: none;
                    border-style: none;
                  ">
                  <p style="margin: 0; font-size: 20px; font-weight: 700">
                    Distribución T
                  </p>
                </li>
              </button>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <section>
                    <div class="card text-center" style="width: 20rem; margin: -38rem 30rem">
                        <div class="card-header">Simpson</div>
                        <div class="card-body">
                            <span class="result">{{ TextSimpson }}</span>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-sm-3">
                <section>
                    <div class="card text-center" style="width: 20rem; margin: 42rem 30rem">
                        <div class="card-header">Distribución T</div>
                        <div class="card-body">
                            <span class="result">{{ TextT }}</span>
                        </div>
                    </div>
                </section>
            </div>

        </section>
    </article>

    <!------------------------F I N D E P R U E B A --------------------------------------------->

</main>